<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/Theme.MySoloLife"
            android:usesCleartextTraffic="true"
            tools:targetApi="31">
        <activity
                android:name=".contentslist.ContentListActivity"
                android:exported="false"
                android:label="@string/title_activity_content_list"
                android:theme="@style/Theme.MySoloLife"/>
        <activity
                android:name=".contentslist.ContentlistActivity"
                android:exported="false"/>
        <activity
                android:name=".contentslist.MainActivity"
                android:exported="false"
                android:label="@string/title_activity_main"
                android:theme="@style/Theme.MySoloLife"/>
        <activity
                android:name=".auth.JoinActivity"
                android:exported="false"/>
        <activity
                android:name=".auth.LoginActivity"
                android:exported="false"/>
        <activity
                android:name=".auth.IntroActivity"
                android:exported="false"/>
        <activity
                android:name=".SplashActivity"
                android:exported="true"> <!-- 추가 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".MainActivity"
                android:exported="true">
        </activity>
    </application>

</manifest>